html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}
.oppgaver{
  line-height: 1.6;
  margin: auto;
}

.chuck, .apimessages{
  background-color: rgba(214, 214, 214, 0.586);
  padding: 1rem;
  max-width: 60%;
  margin: 2rem auto;
  text-align: center;
}

input{
  width: 90%;
}

#error{
  color: red;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
